 body{
    background-color: rgb(37, 39, 37);
    font-family: 'Poppins', sans-serif;
    /* background-image: url(./mark/background.webp); */
    /* background-repeat: no-repeat;  */
    
 }
    /* img{
      background-repeat: no-repeat;
      height: 100vh;
    } */



 .container{ 
   position: absolute;
   top: 10px;
    width: 360px;
    height: 40vh;
    padding: 18px  20px  ;
    text-align: center;
    margin-left: 40%;
     border-radius: 5px;
 }
 input{
    width: 270px;
    padding: 8px;
    border: 2px solid greenyellow;
    outline: none;
    border-radius: 5px;
    font-size: 19px;
 }

 .container img{
   background-position: center;
 }
 button{
    width: 60px;
    height: 41px;
    color: greenyellow;
    cursor: pointer;
    border: 1px  solid   greenyellow;
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    font-size: 19px;
 }
 .text ul {
    position: relative;
    background-color: transparent;
    color:  #fff;
    border: 2px  solid greenyellow;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px ;
    height: 25px;
    text-align: center;
    list-style: none;
 }
 .text ul i{
   position: absolute;
   right: 18px;
   cursor: pointer;
}
 .text ul span{
    position: absolute;
     left: 7px;
    cursor: pointer;
 }


/* 

 .text ul::after{
    content: "";
    position: absolute;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    background-size: cover;
    background-position: center;
    background-image: url(./mark/images.png);
   font-size: 18px;
   top: 10px;
   left: 8px;
   text-decoration: line-through;
 }
 .text ul{
   text-decoration: line-through;
 }
 .text ul::before{
   content: '';
   position: absolute;
   width: 25px;
   height: 25px;
   background-position: center;
   background-size: cover;
   font-size: 18px;
   top: 10px;
   left: 8px;
   border-radius: 50%;
   background-image: url(./mark/tick.jpg);
 } */